/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  

background: rgba(46,45,46,1);
background: -moz-linear-gradient(left, rgba(46,45,46,1) 0%, rgba(46,45,46,1) 1%, rgba(106,107,105,1) 50%, rgba(46,45,46,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(46,45,46,1)), color-stop(1%, rgba(46,45,46,1)), color-stop(50%, rgba(106,107,105,1)), color-stop(100%, rgba(46,45,46,1)));
background: -webkit-linear-gradient(left, rgba(46,45,46,1) 0%, rgba(46,45,46,1) 1%, rgba(106,107,105,1) 50%, rgba(46,45,46,1) 100%);
background: -o-linear-gradient(left, rgba(46,45,46,1) 0%, rgba(46,45,46,1) 1%, rgba(106,107,105,1) 50%, rgba(46,45,46,1) 100%);
background: -ms-linear-gradient(left, rgba(46,45,46,1) 0%, rgba(46,45,46,1) 1%, rgba(106,107,105,1) 50%, rgba(46,45,46,1) 100%);
background: linear-gradient(to right, rgba(46,45,46,1) 0%, rgba(46,45,46,1) 1%, rgba(106,107,105,1) 50%, rgba(46,45,46,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2d2e', endColorstr='#2e2d2e', GradientType=1 );

}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;

 
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
    font-size: 18px;
}
.navbar-wrapper .navbar .container {
  width: auto;

}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
  color: #ffffff;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
  color: #ffffff;

}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;

}
.text-muted{
  color: #000000;
  /*color: #3f4142;*/
  font-weight: bold; 
  font-style: lighter ;


}
.lead{
 /* color: #a3c7e6;*/
 color: #ffffff;
}
.featurette-image{
   
border-radius: 5px 5px 5px 5px;
}
.carousel-caption {

text-shadow: black 3px 1px 3px;
font-weight: lighter;
}
.carousel-caption h1{
  font-size: 60px;
}

.contenedorInicio{


background: rgba(46,45,46,1);
background: -moz-linear-gradient(left, rgba(46,45,46,1) 0%, rgba(46,45,46,1) 1%, rgba(106,107,105,1) 50%, rgba(46,45,46,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(46,45,46,1)), color-stop(1%, rgba(46,45,46,1)), color-stop(50%, rgba(106,107,105,1)), color-stop(100%, rgba(46,45,46,1)));
background: -webkit-linear-gradient(left, rgba(46,45,46,1) 0%, rgba(46,45,46,1) 1%, rgba(106,107,105,1) 50%, rgba(46,45,46,1) 100%);
background: -o-linear-gradient(left, rgba(46,45,46,1) 0%, rgba(46,45,46,1) 1%, rgba(106,107,105,1) 50%, rgba(46,45,46,1) 100%);
background: -ms-linear-gradient(left, rgba(46,45,46,1) 0%, rgba(46,45,46,1) 1%, rgba(106,107,105,1) 50%, rgba(46,45,46,1) 100%);
background: linear-gradient(to right, rgba(46,45,46,1) 0%, rgba(46,45,46,1) 1%, rgba(106,107,105,1) 50%, rgba(46,45,46,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2d2e', endColorstr='#2e2d2e', GradientType=1 );

}

.pie{
  color: #000000;
}
.redes-social{
  width: 100px;
  height: 30px;
  float: right;
  list-style-type:none;
  margin-right: 300px;
  padding-bottom: 10px;
}

.redes-social ul{
  margin:0;
  padding:0;
  
}

.redes-social ul li{
  float:right;
  list-style-type:none;
}

#redes_sociales ul li a{
  box-shadow: 1px 1px  #ffffff;
  display: inline-block;
}
#imagenNos{
  width: 27%;
}

#imagendis{
  width: 15%;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;

  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
