/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  height: 100%;
  margin: 0;
  font-family: monospace, monospace;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  background: rgba(46,45,46,1);
  background: -moz-linear-gradient(left, rgba(46,45,46,1) 0%, rgba(46,45,46,1) 1%, rgba(106,107,105,1) 50%, rgba(46,45,46,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(46,45,46,1)), color-stop(1%, rgba(46,45,46,1)), color-stop(50%, rgba(106,107,105,1)), color-stop(100%, rgba(46,45,46,1)));
  background: -webkit-linear-gradient(left, rgba(46,45,46,1) 0%, rgba(46,45,46,1) 1%, rgba(106,107,105,1) 50%, rgba(46,45,46,1) 100%);
  background: -o-linear-gradient(left, rgba(46,45,46,1) 0%, rgba(46,45,46,1) 1%, rgba(106,107,105,1) 50%, rgba(46,45,46,1) 100%);
  background: -ms-linear-gradient(left, rgba(46,45,46,1) 0%, rgba(46,45,46,1) 1%, rgba(106,107,105,1) 50%, rgba(46,45,46,1) 100%);
  background: linear-gradient(to right, rgba(46,45,46,1) 0%, rgba(46,45,46,1) 1%, rgba(106,107,105,1) 50%, rgba(46,45,46,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2d2e', endColorstr='#2e2d2e', GradientType=1 );

}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;

}
.navbar-wrapper .navbar {
  padding-right: 0px;
  padding-left: 5px;
  border-radius: 4px 4px 4px 4px;


}
.navbar-wrapper .navbar .container {
  width: auto;
  
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
#contenedorPag {
  width: auto;
  height: auto;
  padding: 200px;
  padding-top: 100px;
 } 

#contenedorMensaje{
  width: 1000px;
  height: 900px;
  padding: 100px;

}
.contenidoPag{
  width:auto;
  height: auto;
  font-family: sans-serif;
  font: caption;
  

}
/*css nosotros y contacto */
.cuadroNosotros {
  width: 900px;
  height: auto;
  margin-left:0; 
  padding-top: 30px;
  padding-bottom: 10px;
  
}

.cuadroNosotros h1 {

  margin-right: 300px;
  text-align: center;
  font-size: 70px;
  float: right;
  color: #FFFFFF;
  padding-top: 70px;
  text-shadow: black 3px 1px 3px;


}
.info{
  width: 700px;
  height:auto;
  text-align: left;
  font-size: 20px;
  padding-top: 20px;
  margin-left: 110px;
  color: #FFFFFF;


}
#contenidoMapa{
  width: auto;
  height: auto;
  text-align: center;
  padding: 10px;
  color: #FFFFFF;

}
/*fin vista Nosotros*/
/*css contacto*/
.infoC{
  width: 400px;
  text-align: center;
  font-size: 20px;
  float: none;
  margin-left: 210px;
  padding-bottom: 30px;
  color: #00000f;
  list-style-type: none;
}
.infoC ul li{
list-style-type: none;

}
.men{
  width: 260px;
  height: 150px;
}
.submit{
  margin-top: 10px;
}

.infoC h1{
  font-size: 50px;
  text-align: center;
  margin-right: 50px;
  text-shadow:none;

 }

.bot{
padding-top: 10px;
}

/*fin vista contactos*/

.cuadroFormMensaje{

  width: 900px;
  height: 600px;
  margin-left:125px; 
  padding-top: 30px;
  padding-bottom: 10px;


}


/*contenedor dispositivo*/
.contenidoDis{
  width:auto;
  height: auto;
  font-family: sans-serif;
  padding-top:50px;
  padding-top: 0px;
 
}

.contenidoDis img{
  margin-top: 10px;
  
}
.contenidoDis h2{
  font-size: 45px;
  text-shadow: black 3px 1px 3px;
  color: #ffffff;


}
 #cuadroDis{
  width:auto;
  height: auto;
  margin-left: 30px;
   float: none;
  margin-top: 0;
  margin-bottom: 30px;

 }

#infoDis{
  width: 550px;
  height: 350px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  float: left;
 
}

#infoDis li{
  float:left;
  text-align: left;
   margin-top: 10px;
   padding:20px;
   list-style-type:none;
   font-size: 20px;
   color:  #ffffff;
 
}


#imagenDisp{
  width: 20%;
  height: 320px;
  margin-left: 570px;
  padding-top: 0;
  
}


#imagenDisp img{
  width: 320px;
  height: 320px;
  border-radius: 5px 5px 5px 5px;
}

#pagina{
  width: 500px;
  text-align: center;
  margin-left: 200px;
  text-decoration: none;
  padding: 4px;
}
#pagina a{
  padding: 5px;
  font-weight: bold;
}

#pagina a:hover{
  background-color: #ffffff;
}

.actual{
  
  color: #FFFFFF;
  text-align: center;
  padding: 4px;
  text-decoration: none;
 
}

/*fin vista dispositivos*/


/*contenedor accesorios*/
#infoAcce{
  width: 600px;
  height: 300px;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
  float: left;
 
}
/*contenedor accesorios*/
#infoAcce li {
  list-style-type:none;
  
}

#infoAcce li p{

  text-align: left;
   
   padding:20px;
   list-style-type:none;
   font-size: 20px;
   color:  #ffffff;
}
/*contenedor accesorios*/
#imagenAcce{
 margin-left: 600px;
}
/*contenedor accesorios*/
#imagenAcce img{
  width: 250px;
  height: 250px;
  border-radius: 5px 5px 5px 5px;
  display: inline-block;
}

#pagina2{
  width: 500px;
  text-align: center;
  margin-left: 350px;
  text-decoration: none;
  padding: 4px;
}
#pagina2 a{
  padding: 5px;
  font-weight: bold;
}

#pagina2 a:hover{
  background-color: #ffffff;
}

.actual{
  
  color: #FFFFFF;
  text-align: center;
  padding: 4px;
  text-decoration: none;
 
}
/*fin vista contenedor*/

/*vista pie*/
.pieNos{
  width: auto;
  height: 100px;  
  padding-top: 20px;
  margin-right: 10px;
}

.pieNos p{

margin-left: 10px;
margin-top: 5px;
color: #000000;
}

.redes-social{
  width: 100px;
  height: 30px;
  float: right;
  list-style-type:none;

}

.redes-social ul{
  margin:0;
  padding:0;
  
}

.redes-social ul li{
  float:right;
  list-style-type:none;
}

.redes-social ul li:hover{
  background-color: #ffffff;
  border-radius: 4px 4px 4px 4px;
}


#redes_sociales ul li a{
  box-shadow: 1px 1px  #ffffff;
  display: inline-block;
}
/*fin vista pie*/